In [38]:
# 1.Unique Words in a Sentence

#input sentence
Sentence = input("Enter a Sentence :")

#split sentence into words
words=Sentence.split()

#To get unique words convert list to set
words=set(words)

#Result
print("\nUnique Words Count :",len(words))
print("Unique Words :",words)

Enter a Sentence :python is easy and python is powerful

Unique Words Count : 5
Unique Words : {'easy', 'and', 'powerful', 'is', 'python'}

In [51]:
# 2.Highest Salary from Employee Data by using for loop
employees={"Ravi": 75000,"Anita": 68000,"Kiran": 72000}

HighSalaryEmployee=""
HighSalary=0

for name,salary in employees.items():
    if salary>HighSalary:
        HighSalary=salary
        HighSalaryEmployee=name

print(f"Highest Salary {HighSalaryEmployee} - {HighSalary}")

Highest Salary Ravi - 75000

In [53]:
# 2.Highest Salary from Employee Data By using max() and .get
employees={"Ravi": 75000,"Anita": 68000,"Kiran": 72000}

highest_employee = max(employees, key=employees.get)
#max() - for getting the key of highest salary
#employees.get used to compare values(Salaries)

print(f"Highest Salary {highest_employee} - {employees[highest_employee]}")

Highest Salary Ravi - 75000

In [64]:
# 3.Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]

#sort list for getting ascending order
SortedList=sorted(numbers)

print("List :",numbers)

#last element is Max
print("Max :",SortedList[-1])

#first element is Min
print("Min :",SortedList[0])

List : [45, 22, 89, 10, 66]
Max : 89
Min : 10

In [68]:
# 3.Find Maximum and Minimum Values using loop
numbers = [45, 22, 89, 10, 66]

max = numbers[0]
min = numbers[0]

for num in numbers:
    if num>max:
        max=num
    if num<min:
        min=num

print("List :", numbers)
print("Max :", max)
print("Min :", min)

List : [45, 22, 89, 10, 66]
Max : 89
Min : 10

In [69]:
# 4.Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
cnt=0

for i in prices:
  if i>1000:
    cnt+=1

print("Product above 1000 :",cnt)

Product above 1000 : 2

In [72]:
# 5.Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]
cnt=0

for i in attendance:
  if i=="P":
    cnt+=1

percentage=(cnt/len(attendance))*100

print("Attendance Percentage :",percentage)

Attendance Percentage : 80.0

In [76]:
# 6.Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

UniqueNumbers=set(phone_numbers)

print("Unique phone numbers :",UniqueNumbers)

Unique phone numbers : {9876543210, 9123456789}

In [79]:
# 7.Count Character Frequency
StrInput = input("Enter a String :")

charCount={}

for i in StrInput:
  if i in charCount:
    charCount[i]+=1
  else:
    charCount[i]=1

print(charCount)

Enter a String :Count Of Character
{'C': 2, 'o': 1, 'u': 1, 'n': 1, 't': 2, ' ': 2, 'O': 1, 'f': 1, 'h': 1, 'a': 2, 'r': 2, 'c': 1, 'e': 1}

In [85]:
# 8.Convert List to Tuple
list1=[10,20,30,40,50]

tupleOutput=tuple(list1)

print("Tuple :",tupleOutput)

<class 'tuple'>
Tuple : (10, 20, 30, 40, 50)

In [93]:
# 9.Check if a Key Exists in a Dictionary
employees={"Ravi": 75000,"Anita": 68000,"Kiran": 72000}

key ="Ravi"

if key in employees:
  print("Employee Exists")
else:
  print("Employee Not Exists")

Employee Exists

In [101]:
# 10.Calculate Average Marks
marks=[85, 90, 78, 92, 88,55,80]

averageMarks=sum(marks)/len(marks)

#round() is for rounds the number of 2 decimal places
#round converts 81.14285714285714 to 81.14
print("Average Marks :",round(averageMarks,2))

Average Marks : 81.14